attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
EasyProcess==0.2.3
funcsigs==1.0.2
gi==1.2
idna==2.6
Pillow==5.0.0
playsound==1.2.2
pluggy==0.6.0
py==1.5.2
PyAutoGUI==0.9.36
PyMsgBox==1.0.6
pyscreenshot==0.4.2
PyScreeze==0.1.13
pytest==3.3.2
PyTweening==1.0.3
requests==2.18.4
six==1.11.0
urllib3==1.22
